#hed-con{
	width: 100%;
	height: 60px; 
	background: ;
	grid-column: span 3;
	grid-row: span 1;
	position: relative;
	z-index: 1;
	text-align: center;	
	
}

.quote{  
	grid-row: span 1;
	grid-column: span 3;
	height: 650px;
	background: url('backlog.jpg');	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	color: #FFFFFF;

  
}


.quote::after{  
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width:100%;
   	height:100%;
  	z-index: -1;
  	background: rgba(0, 0, 0, 0.70);
  }


@media screen and (max-width: 1200px){

form {
 	width:700px;	
  }
	
}	



@media screen and (max-width: 780px){

.quote{  
	flex-direction: column;
	align-items: center;
  }

 
	
}	


@media screen and (max-width: 500px ){

  h4{
  	font-size: 20px;
  }

 form {
 	width: 300px;	
 	margin: 0
  }

  .name-dv, .num-div{
 	margin: 10px 0;
  }

.label2{
	margin: 0 20px 0 0;
}

 label input{
 	width: 140px;
	height: 30px;
	
 }


.textte{
	width:300px;
	height: 180px;
}

form button{
	width: 300px;
}


   }